services:
  web:
    volumes:
      - ./:/app:delegated
      - /app/node_modules
    command: [ "npm", "run", "dev", "--", "-p", "8083" ]
    ports:
      - "8083:8083"
    environment:
      - PORT=8083
    restart: unless-stopped
